image {
  max-width: 100%;
}

p {
  font-size: 15pt;
  line-height: 1.5em;
  max-width: 800px;
}

a {
  text-decoration: none;
  color: magenta;
  background-color: #ffffff;
}

a:hover,
a:active {
  background-color: #000000;
}

div {
  margin: 20px;
}

body {
  background-color: #fff;
  max-width: 800px;
}

.cajita {
  border: 1px solid;
  box-shadow: 5px 10px greenyellow;
}
